[submodule "apache/aclonica"]
	path = apache/aclonica
	url = git://github.com/fontdirectory/aclonica.git
[submodule "apache/arimo"]
	path = apache/arimo
	url = git://github.com/fontdirectory/arimo.git
[submodule "apache/calligraffitti"]
	path = apache/calligraffitti
	url = git://github.com/fontdirectory/calligraffitti.git
[submodule "apache/cherrycreamsoda"]
	path = apache/cherrycreamsoda
	url = git://github.com/fontdirectory/cherrycreamsoda.git
[submodule "apache/chewy"]
	path = apache/chewy
	url = git://github.com/fontdirectory/chewy.git
[submodule "apache/comingsoon"]
	path = apache/comingsoon
	url = git://github.com/fontdirectory/comingsoon.git
[submodule "apache/cousine"]
	path = apache/cousine
	url = git://github.com/fontdirectory/cousine.git
[submodule "apache/craftygirls"]
	path = apache/craftygirls
	url = git://github.com/fontdirectory/craftygirls.git
[submodule "apache/creepstercaps"]
	path = apache/creepstercaps
	url = git://github.com/fontdirectory/creepstercaps.git
[submodule "apache/crushed"]
	path = apache/crushed
	url = git://github.com/fontdirectory/crushed.git
[submodule "apache/droidarabickufi"]
	path = apache/droidarabickufi
	url = git://github.com/fontdirectory/droidarabickufi.git
[submodule "apache/droidarabicnaskh"]
	path = apache/droidarabicnaskh
	url = git://github.com/fontdirectory/droidarabicnaskh.git
[submodule "apache/droidsans"]
	path = apache/droidsans
	url = git://github.com/fontdirectory/droidsans.git
[submodule "apache/droidsansethiopic"]
	path = apache/droidsansethiopic
	url = git://github.com/fontdirectory/droidsansethiopic.git
[submodule "apache/droidsansmono"]
	path = apache/droidsansmono
	url = git://github.com/fontdirectory/droidsansmono.git
[submodule "apache/droidsanstamil"]
	path = apache/droidsanstamil
	url = git://github.com/fontdirectory/droidsanstamil.git
[submodule "apache/droidsansthai"]
	path = apache/droidsansthai
	url = git://github.com/fontdirectory/droidsansthai.git
[submodule "apache/droidserif"]
	path = apache/droidserif
	url = git://github.com/fontdirectory/droidserif.git
[submodule "apache/droidserifold"]
	path = apache/droidserifold
	url = git://github.com/fontdirectory/droidserifold.git
[submodule "apache/droidserifthai"]
	path = apache/droidserifthai
	url = git://github.com/fontdirectory/droidserifthai.git
[submodule "apache/fontdinerswanky"]
	path = apache/fontdinerswanky
	url = git://github.com/fontdirectory/fontdinerswanky.git
[submodule "apache/homemadeapple"]
	path = apache/homemadeapple
	url = git://github.com/fontdirectory/homemadeapple.git
[submodule "apache/irishgrover"]
	path = apache/irishgrover
	url = git://github.com/fontdirectory/irishgrover.git
[submodule "apache/irishgrowler"]
	path = apache/irishgrowler
	url = git://github.com/fontdirectory/irishgrowler.git
[submodule "apache/jsmathcmbx10"]
	path = apache/jsmathcmbx10
	url = git://github.com/fontdirectory/jsmathcmbx10.git
[submodule "apache/jsmathcmex10"]
	path = apache/jsmathcmex10
	url = git://github.com/fontdirectory/jsmathcmex10.git
[submodule "apache/jsmathcmmi10"]
	path = apache/jsmathcmmi10
	url = git://github.com/fontdirectory/jsmathcmmi10.git
[submodule "apache/jsmathcmr10"]
	path = apache/jsmathcmr10
	url = git://github.com/fontdirectory/jsmathcmr10.git
[submodule "apache/jsmathcmsy10"]
	path = apache/jsmathcmsy10
	url = git://github.com/fontdirectory/jsmathcmsy10.git
[submodule "apache/jsmathcmti10"]
	path = apache/jsmathcmti10
	url = git://github.com/fontdirectory/jsmathcmti10.git
[submodule "apache/justanotherhand"]
	path = apache/justanotherhand
	url = git://github.com/fontdirectory/justanotherhand.git
[submodule "apache/kranky"]
	path = apache/kranky
	url = git://github.com/fontdirectory/kranky.git
[submodule "apache/luckiestguy"]
	path = apache/luckiestguy
	url = git://github.com/fontdirectory/luckiestguy.git
[submodule "apache/maidenorange"]
	path = apache/maidenorange
	url = git://github.com/fontdirectory/maidenorange.git
[submodule "apache/montez"]
	path = apache/montez
	url = git://github.com/fontdirectory/montez.git
[submodule "apache/mountainsofchristmas"]
	path = apache/mountainsofchristmas
	url = git://github.com/fontdirectory/mountainsofchristmas.git
[submodule "apache/nokora"]
	path = apache/nokora
	url = git://github.com/fontdirectory/nokora.git
[submodule "apache/notosans"]
	path = apache/notosans
	url = git://github.com/fontdirectory/notosans.git
[submodule "apache/notosansarmenian"]
	path = apache/notosansarmenian
	url = git://github.com/fontdirectory/notosansarmenian.git
[submodule "apache/notosansavestan"]
	path = apache/notosansavestan
	url = git://github.com/fontdirectory/notosansavestan.git
[submodule "apache/notosansbengali"]
	path = apache/notosansbengali
	url = git://github.com/fontdirectory/notosansbengali.git
[submodule "apache/notosansbrahmi"]
	path = apache/notosansbrahmi
	url = git://github.com/fontdirectory/notosansbrahmi.git
[submodule "apache/notosanscarian"]
	path = apache/notosanscarian
	url = git://github.com/fontdirectory/notosanscarian.git
[submodule "apache/notosanscherokee"]
	path = apache/notosanscherokee
	url = git://github.com/fontdirectory/notosanscherokee.git
[submodule "apache/notosanscoptic"]
	path = apache/notosanscoptic
	url = git://github.com/fontdirectory/notosanscoptic.git
[submodule "apache/notosanscypriotsyllabary"]
	path = apache/notosanscypriotsyllabary
	url = git://github.com/fontdirectory/notosanscypriotsyllabary.git
[submodule "apache/notosansdeseret"]
	path = apache/notosansdeseret
	url = git://github.com/fontdirectory/notosansdeseret.git
[submodule "apache/notosansdevanagari"]
	path = apache/notosansdevanagari
	url = git://github.com/fontdirectory/notosansdevanagari.git
[submodule "apache/notosansdevanagariui"]
	path = apache/notosansdevanagariui
	url = git://github.com/fontdirectory/notosansdevanagariui.git
[submodule "apache/notosansegyptianhieroglyphs"]
	path = apache/notosansegyptianhieroglyphs
	url = git://github.com/fontdirectory/notosansegyptianhieroglyphs.git
[submodule "apache/notosansethiopic"]
	path = apache/notosansethiopic
	url = git://github.com/fontdirectory/notosansethiopic.git
[submodule "apache/notosansgeorgian"]
	path = apache/notosansgeorgian
	url = git://github.com/fontdirectory/notosansgeorgian.git
[submodule "apache/notosansglagolitic"]
	path = apache/notosansglagolitic
	url = git://github.com/fontdirectory/notosansglagolitic.git
[submodule "apache/notosansgujarati"]
	path = apache/notosansgujarati
	url = git://github.com/fontdirectory/notosansgujarati.git
[submodule "apache/notosansgujaratiui"]
	path = apache/notosansgujaratiui
	url = git://github.com/fontdirectory/notosansgujaratiui.git
[submodule "apache/notosanshanunoo"]
	path = apache/notosanshanunoo
	url = git://github.com/fontdirectory/notosanshanunoo.git
[submodule "apache/notosanshebrew"]
	path = apache/notosanshebrew
	url = git://github.com/fontdirectory/notosanshebrew.git
[submodule "apache/notosansimperilaramaic"]
	path = apache/notosansimperilaramaic
	url = git://github.com/fontdirectory/notosansimperilaramaic.git
[submodule "apache/notosanskaithi"]
	path = apache/notosanskaithi
	url = git://github.com/fontdirectory/notosanskaithi.git
[submodule "apache/notosanskannada"]
	path = apache/notosanskannada
	url = git://github.com/fontdirectory/notosanskannada.git
[submodule "apache/notosanskayahli"]
	path = apache/notosanskayahli
	url = git://github.com/fontdirectory/notosanskayahli.git
[submodule "apache/notosanskharoshthi"]
	path = apache/notosanskharoshthi
	url = git://github.com/fontdirectory/notosanskharoshthi.git
[submodule "apache/notosanslao"]
	path = apache/notosanslao
	url = git://github.com/fontdirectory/notosanslao.git
[submodule "apache/notosanslaoui"]
	path = apache/notosanslaoui
	url = git://github.com/fontdirectory/notosanslaoui.git
[submodule "apache/notosanslisu"]
	path = apache/notosanslisu
	url = git://github.com/fontdirectory/notosanslisu.git
[submodule "apache/notosanslycian"]
	path = apache/notosanslycian
	url = git://github.com/fontdirectory/notosanslycian.git
[submodule "apache/notosanslydian"]
	path = apache/notosanslydian
	url = git://github.com/fontdirectory/notosanslydian.git
[submodule "apache/notosansmalayalam"]
	path = apache/notosansmalayalam
	url = git://github.com/fontdirectory/notosansmalayalam.git
[submodule "apache/notosansmandaic"]
	path = apache/notosansmandaic
	url = git://github.com/fontdirectory/notosansmandaic.git
[submodule "apache/notosansmeeteimayek"]
	path = apache/notosansmeeteimayek
	url = git://github.com/fontdirectory/notosansmeeteimayek.git
[submodule "apache/notosansnko"]
	path = apache/notosansnko
	url = git://github.com/fontdirectory/notosansnko.git
[submodule "apache/notosansoldsoutharabian"]
	path = apache/notosansoldsoutharabian
	url = git://github.com/fontdirectory/notosansoldsoutharabian.git
[submodule "apache/notosansoldturkic"]
	path = apache/notosansoldturkic
	url = git://github.com/fontdirectory/notosansoldturkic.git
[submodule "apache/notosansosmanya"]
	path = apache/notosansosmanya
	url = git://github.com/fontdirectory/notosansosmanya.git
[submodule "apache/notosansphoenician"]
	path = apache/notosansphoenician
	url = git://github.com/fontdirectory/notosansphoenician.git
[submodule "apache/notosansshavian"]
	path = apache/notosansshavian
	url = git://github.com/fontdirectory/notosansshavian.git
[submodule "apache/notosanssymbols"]
	path = apache/notosanssymbols
	url = git://github.com/fontdirectory/notosanssymbols.git
[submodule "apache/notosanstagalog"]
	path = apache/notosanstagalog
	url = git://github.com/fontdirectory/notosanstagalog.git
[submodule "apache/notosanstaitham"]
	path = apache/notosanstaitham
	url = git://github.com/fontdirectory/notosanstaitham.git
[submodule "apache/notosanstaiviet"]
	path = apache/notosanstaiviet
	url = git://github.com/fontdirectory/notosanstaiviet.git
[submodule "apache/notosanstamil"]
	path = apache/notosanstamil
	url = git://github.com/fontdirectory/notosanstamil.git
[submodule "apache/notosanstamilui"]
	path = apache/notosanstamilui
	url = git://github.com/fontdirectory/notosanstamilui.git
[submodule "apache/notosanstelugu"]
	path = apache/notosanstelugu
	url = git://github.com/fontdirectory/notosanstelugu.git
[submodule "apache/notosansthai"]
	path = apache/notosansthai
	url = git://github.com/fontdirectory/notosansthai.git
[submodule "apache/notosansthaiui"]
	path = apache/notosansthaiui
	url = git://github.com/fontdirectory/notosansthaiui.git
[submodule "apache/notosansugaritic"]
	path = apache/notosansugaritic
	url = git://github.com/fontdirectory/notosansugaritic.git
[submodule "apache/notosansui"]
	path = apache/notosansui
	url = git://github.com/fontdirectory/notosansui.git
[submodule "apache/notosansvai"]
	path = apache/notosansvai
	url = git://github.com/fontdirectory/notosansvai.git
[submodule "apache/notoserif"]
	path = apache/notoserif
	url = git://github.com/fontdirectory/notoserif.git
[submodule "apache/notoserifarmenian"]
	path = apache/notoserifarmenian
	url = git://github.com/fontdirectory/notoserifarmenian.git
[submodule "apache/notoserifgeorgian"]
	path = apache/notoserifgeorgian
	url = git://github.com/fontdirectory/notoserifgeorgian.git
[submodule "apache/notoseriflao"]
	path = apache/notoseriflao
	url = git://github.com/fontdirectory/notoseriflao.git
[submodule "apache/notoserifthai"]
	path = apache/notoserifthai
	url = git://github.com/fontdirectory/notoserifthai.git
[submodule "apache/opensans"]
	path = apache/opensans
	url = git://github.com/fontdirectory/opensans.git
[submodule "apache/opensanscondensed"]
	path = apache/opensanscondensed
	url = git://github.com/fontdirectory/opensanscondensed.git
[submodule "apache/opensanshebrew"]
	path = apache/opensanshebrew
	url = git://github.com/fontdirectory/opensanshebrew.git
[submodule "apache/opensanshebrewcondensed"]
	path = apache/opensanshebrewcondensed
	url = git://github.com/fontdirectory/opensanshebrewcondensed.git
[submodule "apache/permanentmarker"]
	path = apache/permanentmarker
	url = git://github.com/fontdirectory/permanentmarker.git
[submodule "apache/rancho"]
	path = apache/rancho
	url = git://github.com/fontdirectory/rancho.git
[submodule "apache/redressed"]
	path = apache/redressed
	url = git://github.com/fontdirectory/redressed.git
[submodule "apache/roboto"]
	path = apache/roboto
	url = git://github.com/fontdirectory/roboto.git
[submodule "apache/roboto-latest-2013-06-26"]
	path = apache/roboto-latest-2013-06-26
	url = git://github.com/fontdirectory/roboto-latest-2013-06-26.git
[submodule "apache/roboto-prod"]
	path = apache/roboto-prod
	url = git://github.com/fontdirectory/roboto-prod.git
[submodule "apache/roboto-prod2"]
	path = apache/roboto-prod2
	url = git://github.com/fontdirectory/roboto-prod2.git
[submodule "apache/roboto-reverted"]
	path = apache/roboto-reverted
	url = git://github.com/fontdirectory/roboto-reverted.git
[submodule "apache/roboto2-hinttest"]
	path = apache/roboto2-hinttest
	url = git://github.com/fontdirectory/roboto2-hinttest.git
[submodule "apache/roboto2condensed"]
	path = apache/roboto2condensed
	url = git://github.com/fontdirectory/roboto2condensed.git
[submodule "apache/robotocondensed"]
	path = apache/robotocondensed
	url = git://github.com/fontdirectory/robotocondensed.git
[submodule "apache/robotodraft"]
	path = apache/robotodraft
	url = git://github.com/fontdirectory/robotodraft.git
[submodule "apache/robotoslab"]
	path = apache/robotoslab
	url = git://github.com/fontdirectory/robotoslab.git
[submodule "apache/rochester"]
	path = apache/rochester
	url = git://github.com/fontdirectory/rochester.git
[submodule "apache/rocksalt"]
	path = apache/rocksalt
	url = git://github.com/fontdirectory/rocksalt.git
[submodule "apache/satisfy"]
	path = apache/satisfy
	url = git://github.com/fontdirectory/satisfy.git
[submodule "apache/schoolbell"]
	path = apache/schoolbell
	url = git://github.com/fontdirectory/schoolbell.git
[submodule "apache/slackey"]
	path = apache/slackey
	url = git://github.com/fontdirectory/slackey.git
[submodule "apache/smokum"]
	path = apache/smokum
	url = git://github.com/fontdirectory/smokum.git
[submodule "apache/specialelite"]
	path = apache/specialelite
	url = git://github.com/fontdirectory/specialelite.git
[submodule "apache/sunshiney"]
	path = apache/sunshiney
	url = git://github.com/fontdirectory/sunshiney.git
[submodule "apache/syncopate"]
	path = apache/syncopate
	url = git://github.com/fontdirectory/syncopate.git
[submodule "apache/tinos"]
	path = apache/tinos
	url = git://github.com/fontdirectory/tinos.git
[submodule "apache/tmp-roboto"]
	path = apache/tmp-roboto
	url = git://github.com/fontdirectory/tmp-roboto.git
[submodule "apache/ultra"]
	path = apache/ultra
	url = git://github.com/fontdirectory/ultra.git
[submodule "apache/unkempt"]
	path = apache/unkempt
	url = git://github.com/fontdirectory/unkempt.git
[submodule "apache/walterturncoat"]
	path = apache/walterturncoat
	url = git://github.com/fontdirectory/walterturncoat.git
[submodule "apache/yellowtail"]
	path = apache/yellowtail
	url = git://github.com/fontdirectory/yellowtail.git
[submodule "ufl/ubuntu"]
	path = ufl/ubuntu
	url = git://github.com/fontdirectory/ubuntu.git
[submodule "ufl/ubuntucondensed"]
	path = ufl/ubuntucondensed
	url = git://github.com/fontdirectory/ubuntucondensed.git
[submodule "ufl/ubuntumono"]
	path = ufl/ubuntumono
	url = git://github.com/fontdirectory/ubuntumono.git
